<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dlp.bluelupin.dlp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.DownloadActivity" />
        <service android:name=".Activities.DownloadActivity$DownloadingService" />
        <activity android:name=".Activities.LanguageActivity" />
        <activity android:name=".Activities.AccountSettingsActivity" />
        <activity android:name=".Activities.VerificationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.VideoPlayerActivity" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme"></activity>

        <service android:name=".Activities.DownloadService"/>
        <service android:name=".Utilities.BindService" />


        <!-- SMS Receiver -->
        <receiver android:name=".Utilities.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- Intent service for OTP -->
        <service
            android:name=".Utilities.OtpService"
            android:exported="false" />

        <service
            android:name=".Services.BackgroundSyncService"
            android:enabled="true" >

        </service>


    </application>

</manifest>
